<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="row">
                <div class="col-lg-10">
                    <h2>Brij Mohan Lal Srivastava</h2>
                    <p>
                        MS by Research (CSE), International Institute of Information Technology, Hyderabad
                        <br>
                        <small>
                            <i class="fa fa-envelope"></i> &nbsp; <em>brijmohanlal.s[at]research.iiit.ac.in, contactbrijmohan[at]gmail.com</em>
                            <br>
                            <i class="fa fa-phone"></i> &nbsp; +91 77997 28715
                        </small>
                        <br>
                        <a target="_blank" href="https://github.com/brijmohan"><i class="fa fa-github-alt"></i></a>&nbsp;&nbsp;
                        <a target="_blank" href="https://www.facebook.com/brij.srivastava"><i class="fa fa-facebook"></i></a>&nbsp;&nbsp;
                        <a target="_blank" href="http://srivastavabrij.blogspot.in"><i class="fa fa-comments"></i></a>&nbsp;&nbsp;
                        <a target="_blank" href="http://in.linkedin.com/pub/brij-mohan-lal-srivastava/33/450/22"><i class="fa fa-linkedin"></i></a>
                    </p>
                    <a href="files/Brij-CV-IIIT.pdf" class="btn btn-primary"><i class="fa fa-download"></i> Download CV</a>
                </div>
                <div class="col-lg-2">
                    <img src="imgs/0001_cropped.jpg" alt="" class="img-rounded img-responsive" />
                </div>
            </div>

            <br>
            <p style="color: #000000"><small>
                I am a Masters Research student at <a target="_blank" href="http://www.iiit.ac.in">IIIT-H</a> under <a target="_blank" href="http://www.iiit.ac.in/people/faculty/m.shrivastava">Dr. Manish Shrivastava</a>. My research interests include Speech & Language Technologies.
                Currently, I am working in the area of Spoken Dialog Systems in mobile/handheld devices. The goal of my project is to build a Dialog System Framework for mobile devices which is multi-linguistic and easily domain-adaptable. This work will eventually lead to the development of a Virtual Assistant for Indian Languages (<a target="_blank" href="http://itra.medialabasia.in/?p=629">ITRA, Media Lab Asia</a>).
                <br>

                I am also interested in concepts of Machine Learning and Neural Networks. I like to read, specially, History, Philosophy and Indian Mythology.<br>

                I have completed my B.Tech from <a target="_blank" href="http://www.sastra.edu">SASTRA University, Thanjavur</a>. Check my CV for more details.
            </small></p>
            <blockquote class="blockquote-reverse">
                <p>Living your life is a task so difficult, it has never been attempted before.</p>
                <footer><cite title="Source Title">Cowsay</cite></footer>
            </blockquote>
        </div>
    </div>
</div>