<div style="margin: 50px">
    <div class="panel panel-default">
        <div class="panel-heading bg-primary">
            <h3 class="panel-title">Virtual Assistant</h3>
        </div>
        <div class="panel-body">
            <h6>Role: Research Scholar</h6>
            The objective of this project is to build a robust multi-lingual Dialog System framework, which
            can easily adapt to multiple domains. The challenge is to use minimal resources since the framework
            should run solely based on the power provided by a basic hand-held device.
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Sleep Apnea Detection</h3>
        </div>
        <div class="panel-body">
            <h6>Role: Software Developer Intern</h6>

            This project is an initiative of MIT Media Labs and focuses on building a device in form of
            wearable mask to collect sleep data. This data can then be analysed using Machine Learning algorithms
            to find Apneic and Hypo-apneic events. Based on further investigation, the subject can be diagnosed
            for Obtrusive Sleep Apnea.
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Sign Language Recognition using Convolutional Neural Networks</h3>
        </div>
        <div class="panel-body">
            <h6>Team: Anirudh Nihalani, Brij Mohan, Mallikarjun</h6>

            This work focuses on exploiting and comparing various combination of techniques to enhance the accuracy
            of Sign Language Recognition. We conducted several experiments using varying architectures of CNN,
            pre-processing of data and inclusion of "good" features. The goal is to study the effects of different
            parameters on the accuracy and report the combinations which gave best results.
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Comparison of Ranking Algorithms (TF-IDF, Google Pagerank and Lucene)</h3>
        </div>
        <div class="panel-body">
            <h6>Team: Brij Mohan, Neel Jinwala, Prachish Gora</h6>

            <h6 style="text-decoration: underline">Problem Statement:</h6>
            A thorough analysis of different ranking algorithms and applying them. Similar to the search engine that has
            been implemented but involves extended and optimized methodologies and comparing the output with
            standards like Lucene
            <h6 style="text-decoration: underline">Motivation:</h6>
            There are several ranking algorithms that are used for various search domains. Each algorithm produces best
            results when subjected to a certain type of data. We have taken up two of those popular algorithms in order to
            find their best use-cases and loopholes in order to compare them with the standard lucene engine. This may
            also help us find their best possible scenarios and come up with something unique and ubiquitous.
            <h6 style="text-decoration: underline">Approach:</h6>
            There are several modules involved in the implementation of the project.
            <ol>
                <li>Creation of Inverted index based on the new approach, which involves storing additional document</li>
                    information such as, outlinks, page rank of the document, additional factors to calculate local weightage, etc.
                <li>Intermediate outputs involving recursive calculation of page rank for every document.</li>
                <li>Generation of secondary index along with document mapping index.</li>
                <li>Compression of primary index</li>
                <li>Efficient query searching along with caching</li>
            </ol>
            We will be covering two ranking algorithms namely, tf-idf (term frequency-inverse document frequency) and
            Google's Page Rank algorithm devised by Sergey Brin and Larry Page.
            <h6 style="text-decoration: underline">Datasets:</h6>
            Wikipedia 43GB Corpus

            <p>
                You can watch a video of our presentation here : <a target="_blank" href="https://www.youtube.com/watch?v=vqEftHTahHU">Video</a>
                <br>
                Here's the code: <a target="_blank" href="https://github.com/brijmohan/IIIT-IRE-Projects">Github</a>
            </p>

        </div>
    </div>
</div>